*{ /*selektuje sve*/
    margin: 0; /*Udaljenost izmedju elementa i ostalih elemenata na stanici*/
    padding: 0; /*Udaljenost izmedju sadrzaja elemenata i ivice tog elementa*/
}
header {
    text-align: center;
    color:white;
}
.meni{
    background-color: rgb(247, 97, 157);
    text-align: center;
}

nav ul{
    list-style: none;
}

nav a{
    text-decoration: none;
    color:white;
}

nav li{
    display: inline;
}

h3#naslov1{
    border-bottom: 1px solid black;
}
/*inline pa interni pa externi*/